/* définition des polices personnalisées */
html {
    width: 100%;
    line-height: 1,15;
}

body {
    font-family: "raleway", "sans-serif";
    margin: 0;
}

/* Elements principal de la page */
.flexcentre {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flexaround {
    display: flex;
}

.flexbetween {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.colorblue {
    color:#0065FC;
}

.colorblue2 {
    color:#0065FC;
    font-weight: bold;
    margin-right: 30px;
}

.colorsky {
    color: #DEEBFF;
}

.colorgrey {
    color: #F2F2F2;
}

.fa, .fas{
    font-size: 14px;
}

/*header*/
.color2 {
    color: black;
}

.case {
    width: 70%;
}

.nav12 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.decoration {
    text-decoration: none;
    font-size: large;
}

.size1, .size2, .size {
    height: 68px;
    padding: 2rem;
    font-weight: bold;
    text-align: center;
    transition-duration: 0.1s;
    border-top: 3px transparent solid;
    border-bottom: 3px transparent solid;
}

.trait:hover {
    border-top: solid 3px #0065FC;
}

.reservia {
    height: 46px;
}
nav a:hover {
    color: #0065FC;
 }

 /*--------------------header-----------------------------------------------------*/
header {
    margin-bottom: 20px;
    margin-left: 30px;    
}

nav {
    margin-left: 30px;
}

h1 {
    font-size: 1.1em;
    font-weight: bold;
}

p {
    font-size: 0.8em;
    margin-top: 0;
    margin-bottom: 5px;
    }

/*---------------------main nav-----------*/
main {
    margin-bottom: 0px;
    margin-left: 30px;
}

.fa-map-marker-alt {
    background-color:  #F2F2F2;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    padding: 17px;
}

.forme {
    display: flex;
    margin-top: 10px;
}
.recherchez {
 border : solid 1px #F2F2F2;
 padding-left: 10px;
 font-weight: bold;

}

.recherche {
    display: flex;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    color: white;
    background-color:#0065FC;
    border-style: none;
    padding: 15px;
    font-weight: bold;
}

.recherche i {
    display: none;
}

.true {
    display: none;
}

#filtres {
    display: flex;
 }

.filtres {
    font-size: 0.9em;
    padding-top: 24px;
    font-weight: bold;
    margin-top: 13px;
 }

.barre {
    display: flex;
    list-style: none;
    padding-top: 13px;
    padding-bottom: 8px; 
    padding-left: 20px;         
}

.barre li:hover {
    text-decoration: none;
    color: #0065FC;
}
     
.nav {
    margin-right: 20px;
    border-radius: 30px;
    border: 3px solid #F2F2F2;
    padding-right: 35px;
}

li i {
    color: #0065FC;
    border-radius: 25px;
    margin-right: 10px;
    height: 25px;
    width: 25px;
    background-color: #DEEBFF;
    padding-left: 11px;
    padding-right: 4px;
    padding-top: 10px;
}
    
.font {
    font-weight: bold;
    font-size: 0.9em
}

.emplacement {
    display: flex;
    margin-top: 5px;
}

.fa-info {
    color : #0065FC;
    border: 1.5px solid #F2F2F2 ;
    border-radius: 20px;
    margin-right: 7px;
    width: 15px;
    Height:15px;
    padding-top: 3px;
    padding-left: 2px;
}

.fasize {
    font-size: 0.55em;
}

.fa-info::before {
    padding-left: 5px;
}

.info {
    padding-top: 2px;
}

/*----------Main   hebergement-------------------*/
.placement:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition-duration: 0.2s;
}

.move:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition-duration: 0.2s;
}

#conteneur1 {
    flex: 2;
    border-radius: 20px;
    background-color: #F2F2F2;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    flex-direction: column;
    height: min-content;
}

.aside {
    flex: 1;
    border-radius: 20px;
    margin-left: 16px;
    background-color: #F2F2F2;
    padding-right: 20px;
    padding-left: 20px;
    margin-right: 30px;
    margin-left: 30px;
}

.placement  {
    display: flex;
    flex-direction: column;
 }

.cadre {
    width: 29%;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 4px 4px #e2dfdf;
    padding-left: 3px;
    padding-right: 3px;
    padding-top: 3px;
    margin-left: 5px;
    margin-right: 5px;
}

.un, .deux, .trois, .quatre, .cinq, .six {
   width: 100%;
   height: 80px;
   object-fit: cover;
   background-size: cover;
   background-position: center;
   border-top-left-radius: 10px;
   border-top-right-radius: 10px;
}

.hotels1 {
    margin-bottom: 30px;
    margin-top: 20px;
}
.hotels2, .hotels1 {
   height: 35%;
}

.titre {
    padding-left: 8px;
    margin-top: 30px;
    margin-bottom: 0px;
    font-size: 1em;
}

.Affichez {
    margin-top: 32px;
    margin-bottom: 20px;
    padding-left: 6px;
    font-size: 1em;
    font-weight: bold;
}

.titre2 {
    margin-bottom: 23px;
    font-size: 1em;
    margin-top: 30px;
    padding-left: 6px;
}

h3 {
    font-size: 0.9em;
    margin-top: 7px;
    margin-bottom: 6px;
}

.legende1, .legende2 {
    margin-left: 10px;
    margin-bottom: 2px;
}

.populaires {
    display:flex;
    flex-direction: row;
    background-size: cover;
    background-position: center;
    padding: 3px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0px 4px 4px #e2dfdf;
    margin: 0px 5px 20px 5px;
    height: 23%;
}

.fa-chart-line {
    padding-right: 12px;
    padding-top: 10px;
    font-size: 16px;
}

.one {
    width: 110px;
    max-height: 110px;
    padding-right: 17px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    object-fit: cover;
}

.data {
    padding-top: 25px;
}
/*----------Main   activités-------------------*/
#activites {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 500px;
}

.actions {
    font-size: 1.1em;
    margin-top: 40px;
    margin-bottom: 0px;
}

.image {
    display: grid;
    grid-template-columns: repeat(4, 22%);
    grid-template-rows: 100%;
    grid-gap: 3%;
}

.big, .big2 {
    border-radius: 10px;
    box-shadow: 0 4px 4px #e2dfdf;
    margin-left: 0px;
    margin-right: 0px;
    height: 56%;
    margin-bottom: 0px;
}

.small {
    width: 100%;
    height: 55%;
}

.img1 {
    box-shadow: 0 4px 4px #e2dfdf;
    border-radius: 10px;
    height: 55%;
    width: 100%;
    margin: 17px 0px 30px 0px; 
}

.img2 {
    box-shadow: 0 4px 4px #e2dfdf;
    border-radius: 10px;
    height: 38%;
    width: 100%;
    margin-left: 0px;
    margin-right: 20px;
    margin-top: 19px;
    margin-bottom: 0px;
}

.img3 {
    box-shadow: 0 4px 4px #e2dfdf;
    border-radius: 10px;
    height: 47%;
    width: 100%;
    margin-left: 0px;
    margin-right: 20px;
    margin-top: 17px;
    margin-bottom: 0px;
}

.img3bis {
    box-shadow: 0 4px 4px #e2dfdf;
    border-radius: 10px;
    height: 46%;
    width: 100%;
    margin-left: 0px;
    margin-right: 20px;
    margin-top: 30px;
    margin-bottom: 0px;
}
 
.b {
    width: 100%;
    height: 88%;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.ss {
    width: 100%;
    height: 75%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    object-fit: cover; 
}

.s{
    width: 100%;
    height: 70%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    object-fit: cover; 
}

.legende3 {
    font-size: 0.9em;
    display: flex;
    padding-top: 10px;  
    padding-left: 15px;
    font-weight: bold;
}   

/*--------------------------------footer---------------------------*/
#footer {
    background-color: #F2F2F2;
    display: flex;
    justify-content: space-around;
    padding-bottom: 30px;
    margin-top: 10px;
    padding-left: 30px;
}

.apropos {
    display: flex;
    flex-direction: column;
    width: 35%;
    margin-bottom: 15px;
    margin-top: 10px;
}

.foot {
    font-size: 0.9em;
    margin-top: 20px;
    margin-bottom: 20px; 
}

footer ul {
    list-style-type: none;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 0.9em;
        }

footer li {
    padding-bottom: 10px;
    padding-top: 4px;
}

/*responsive*/
@media screen and (max-width: 1280px) { 
    
    .placement {
        min-height: 150px;
    }
    .populaires {
        min-height: auto;
    }

    .cadre {
        width: 30%;
    }
    .hotels1 {
        margin-top: 49px;
    }
    .b {
        height: 81%;
    }
}

@media screen and (max-width: 1024px) {
    body {
        width: 100%;
    }

    nav {
        margin-top: 20px;
    }

    header {
        width: 84%;
    }

    .aside {
        border-radius: 20px;
        background-color: #F2F2F2;
        padding-left: 20px;
        padding-right: 20px;
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 20px;
        display: flex;
        justify-content: center;
        flex-direction: column;
     }

    #activites {
        width: 98%;
    }

    .big, .big2 {
        height: 72%;
    }

    .small {
        height: 70%;
    }

    .nav {
        padding-right: 16px;
        margin-right: 14px;
    }
    
    .font {
        font-size: 0.6em;
    }

    .populaires {
        width: 98%;
    }

    .flexaround {
        display: flex;
        flex-direction: column;
        width: 95%;
    }
    
    .legende3 {
        font-size: 0.7em;
    }

    h3 {
        margin-top: 5px;
        font-size: 0.70em;
    }
    .one {
        min-width: 45%;
        padding-right: 17px;
        
  }
}
@media screen and (max-width: 660px) {
    html {
       width: 102%;
    }
   
    body {
       margin:0;
   }
   
   header {
    width:84%;
    margin-left: 30px;
    padding-top: 20px;
   }

   .reservia {
       height: 56px;
   }

   .size1, .size2 {
       border-top: none;
       width: 50%;
       margin-top: 120px;
       padding-bottom: 0px;
       padding-top: 60px;
    }

   .size2 {
    padding-left: 60px;
    }
   
   .size {
       margin-right: 0px;
       padding-right: 0px;
       padding-top : 40px;
   }
   
   
    nav {
        margin-bottom: 50px;
        margin-left: 0;
    }

    .case {
        margin-left: 20px;
    }

    .nav12 {
        position:absolute;
        width: 95%;
    }

    h1 {
        font-size: 1.6em;
    }

    p {
        font-size: 0.9em;
    }

    .decoration {
        font-size: larger;
    }

    .trait:hover{
        border-bottom: solid 3px #0065FC;
        border-top: none;
        width: 50%;
    }

    input {
        width: 70%;
    }

    button {
        width: 100px;
    }
    .forme {
        margin-top: 20px;
    }

    .fa-map-marker-alt {
        padding: 20px;
        font-size: 20px;
    }
    
    .recherche span {
        display: none;
    }

    .recherche i {
        display: block;
    }

    .filtres {
        font-size: 1.2em;
    }

    #filtres {
        display: block;
    }

    .nav{
        margin-bottom: 25px;
        margin-right: 12px;
        padding-right: 12px;
    }
    .font {
        font-size: 1.0em;
    }

    .barre {
        display: flex;
        flex-wrap: wrap;
        padding-left: 0px;
    }
    
    main {
        margin-left: 0px;
    }
    
    .flexaround {
        display: flex;
        flex-direction: column-reverse;
    }
    .hotels1, .hotels2 {
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
    }
    .aside {
        border-radius: 0px;
        margin: 0px;
    }

    .one{
        min-width: 35%;
    }

    h3, .Affichez {
        font-size: 1em;
    }
     
    .data {
        padding-top: 7px;
    }

    .populaires {
        padding: 5px;
    }

    .titre2, .titre, .actions {
       font-size: 1.2em
    }
    .fa-chart-line {
       font-size: 20px;
    }

    #conteneur1 {
        margin-top: 15px;
        margin-left: 16px;
        padding-right: 0px;
        padding-left: 0px;
        background-color: transparent;
       }

    .cadre {
        width: 89%;
        margin-bottom: 21px;
        padding: 5px;
    }

    .un,.deux, .trois, .quatre, .cinq, .six {
        height: 130px;
    }

    .legende1 {
        margin-left: 15px;
    }

    #activites {
        background-color: transparent;
        margin-left: 15px;
        height: auto;
    }

    .actions {
        margin-top: 20px;
    }

    .hotels1 {
        margin-bottom: 0px;
    }
    .image {
        grid-template-columns: 93%;
        grid-template-rows: 15% 30% 15% 30%; 
        grid-gap: none;
    }

    .img1, .img2, .img3, .img3bis{
        border-radius: 20px;
        margin-left: 7px;
        margin-right: 15px;
        width: 95%;
        height: 48%;
    }

    .img1, .big2, .img3 {
        margin-top: 0px;
    }

    .b {
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        height: 78%;
    }

    .s, .ss {
        border-top-left-radius: 20px;
        border-top-right-radius: 20px; 
        max-height: 150px;
        height: 80%;
    
    }
    .big, .big2 {
        border-radius: 20px;
        margin-left: 7px;
        margin-right: 15px;
        height: 95%;
    }

    .small {
        height: 95%;
        border-radius: 20px;
        width: 99%;
    }

     #footer {
        width: 100%;
        flex-direction: column;
        margin-top: 40px;
    }
    .apropos {
        width: 100%;
    }
    }

